@keyframes loading {
  to {
    clip-path: inset((20px 30px 35px 20px));
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  clip-path: inset(0 2ch 0 0);
  animation: loading 1s steps(4) infinite;
}
